.motionContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.motionDivText{
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    transition: 1, ease;
}