.motionContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.motionDivText{
    position: relative;
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
    transition: 1, ease;
}
.btn-answer-anim{
    width: 150px;
    height: 60px;
    font-size: 1.5rem;
    background-color: #8a2be2;
    color: aliceblue;
    border-radius: 8px;
    border: 2px solid #b06eee ;
    box-shadow: 5px 5px 10px #323232;
    margin: 10px;
}
.ask-container{
    margin-left: -40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}